<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login info</h1>
    <p><%= email %></h1>
    <p><%= name %></p>
    <img src=<%= picture%>>
    
   
  </body>
</html>